html {
  scroll-behavior: smooth;
}

/* body margin */

body{
  margin: 0px;
}

/* wrapper margin*/

.wrapper{
  margin: 60px;
}

.block-content{

}

/* font size */

h1{
  font-size: 60px;
  font-family: 'Noto Sans TC', sans-serif;
  color: #ffffff;
}
h2{
  font-size: 34px;
  color: #FFFFFF;
  font-family: 'Noto Sans TC', sans-serif;
}
h3{
  font-size: 24px;
  color: #F1C320;
  font-family: 'Noto Sans TC', sans-serif;
}
p{
  font-size: 17px;
  color: #F2F2F2;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 2em;
}

#cyberbully a{
  color: #9DDFF8;
}

#instagram h2{
  color: #050511;
}

#instagram p{
  color: #4D4D4D;
}



/* background */

.background{
  background-color: #13131B;
}

/* hamburger bar */

.menu-toggle {
  position: fixed;
  top:0;
  right: 0;
  text-align: center;
  color: rgb(1, 51, 83);
  background: transparent;
  line-height: 50px;
  z-index: 99;
  margin-top: 10px;
  margin-right: 10px;
}

.hamburgerBar{
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  background-color: #707070;
}

a:not([href]) {
  text-decoration: none;
}

.landingPage > .mainContainer {
  padding: 0px 0px;
}

/* sidebar */

#sidebar-wrapper {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  background: #FFFFFF;
  opacity: 0.8;
}
.open{
  right: 250px;
}

.close{
  right: 0px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #999999;
  padding: 8px 8px 8px 20px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #666666;
  background: #AFBFBC;
  opacity: 0.8;
}

.sidebar-nav li a, .sidebar-nav li a:focus {
  text-decoration: none
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.1rem;
  height: 90px;
  line-height: 60px;
  padding: 10.5px 0px 1px 20px;
  margin-top: 30px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
  font-weight: bold;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #666666;
  background: 0 0
}

/* story bar */

#story-bar{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 999;
  background-color: rgb(58,65,81,0.7);
  width: 100%;
}

#story-bar ul{
  display: flex;
  list-style: none;
}

#story-bar li{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin-right: 50px;
}



/* banner video */

#banner {
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #202026;
  z-index: -1;
}

#banner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* make title img center */

[alt="title"]{
  display: flex;
  position: absolute;
  z-index: 2;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}
.background{
  background-image: url('../img/star.svg'),linear-gradient(#050511 0%,#BDCCD4 70%);
}

/* title template */

.title-wrapper{
  display: flex;
  padding: 40px 0px 40px 0px;
  align-items: center;
}

.title{
  display: flex;
  justify-content: center;
  width: 40%;
}

.line{
  display: flex;
  border-top: #FFFFFF solid;
  width: 30%;
}

#cyberbully_title .title{
  width: 60%;
}

#cyberbully_title .line{
  width: 20%;
}

/* paragraph */

.center{
  width: 75%;
  margin: auto;
  padding: 30px;
}
.shallow{
  position: relative;
  background-color: rgb(58,65,81,0.7);
  border-radius: 20px;
}

.inner{
  padding: 40px;
}

.image-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-content h3{
  display: flex;
  justify-content: center;
}

/* option */

.option-center{
  margin: auto;
  padding: 30px;
}

#option{
  display: flex;
  justify-content: center;
}

#option button{
  justify-content: center;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

#option button:focus{
  outline: none;
}

#option img{
  width: 60%;
}

/* respondent content */

.respondent-img{
  position: absolute;
  width: 20%;
}

.respondent-img > img{
  width: 100%;
}

.respondent{
  border-radius: 20px;
  border: #f0f0f0 solid 2px;
  margin-top: 200px;
}

.respondent-inner-line{
  padding: 40px;
  border-top: #f0f0f0 solid 1px;
  border-left: #f0f0f0 solid 1px;
}

/* story title */

.story-title:first-child > h3{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}

/* introduction carousel */

#carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}

.carousel-img{
  display: flex;
  justify-content: center;
  position: relative;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.first{
  left: 100%;
}

.second{
  left: 0%;
}

.third{
  left: -100%;
}

.arrow{
  position: absolute;
  cursor: pointer;
  align-content: center;
}

.arrow:first-child{
  z-index: 1;
  left: 0;
  padding: 50vh 50vh 50vh 30px;
}
.arrow:last-child{
  right: 0;
  padding: 50vh 30px 50vh 50vh;
}

#circle{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 28%;
}
#circle i{
  cursor: pointer;
  padding: 10px;
  margin-right: 30px;
}

/* QRcord */

.qrcode-title{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.start{
  display: flex;
  justify-content: center;
  align-items: center;
}

.start img{
  width: 70%;
  padding-left: 34px;
  border-left: #003955 solid 1px;
}

.start p{
  display: flex;
  align-items: center;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  padding: 55px 10px 10px 10px;
  letter-spacing: 2em;
  font-size: 24px;
  color: #003955;
}

.start a{
  text-decoration: none;
}

.start p:hover{
  color: #FFEE52;
}

/* footer */

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#share{
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}

.link{
  display: flex;
  flex-direction: row;
  padding: 20px 0px 0px 10px;
}

footer p{
  color: black;
}

.footer-center{
  display: flex;
  align-items: center;
}

/* Add space between footer's content */

.footer-center div:first-child{
  padding-right: 30px;
}

.footer-center div:last-child{
  padding-left: 30px;
}

#share a:last-child{
  padding-left: 30px;
}