<htmL lang="zh-Hant-TW">
<head>
  <title>anonymous</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="img/yeqian.ico"/>
  <link rel="bookmark" href="img/yeqian.ico"/>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script>Vue.config.devtools = true;</script>
  <script src="js/main.js"></script>
  <link rel=stylesheet type="text/css" href="css/main.css">
  <link rel=stylesheet type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
<!-- loading -->
<!--
<div id="loading" :class="{'loading': loading, 'loadend': loadend}">
  <div id="img_preload">
    <div class="loder"></div>
  </div>
</div>
<script>
  var load = new Vue({
    el: '#loading',
    data: {
      loading: true,
      loadend: false
    },
    mounted:
      function () {
        window.addEventListener('load', () => {
          setTimeout(function(){
            load.loadend = true;
            load.loading = false;
          }, 3000);
        })
      },
  })
</script>
-->
<!--hamburger bar-->
<div class="menu-toggle" id="hamburger" v-on:click="pop">
  <a class="hamburgerBar" style="color: white;">
    <i :class="{'fas fa-bars': bar, 'fas fa-times': cross,'fa-sm': size}"></i>
  </a>
</div>
<script>
  /* hamburger bar */

  var hb = new Vue({
    el: '#hamburger',
    data: {
      open: false,
      close: true,
      bar: true,
      cross: false,
      size: true
    },
    methods: {
      pop: function () {
        if (this.close) {
          this.open = true;
          this.close = false;
          this.cross = true;
          this.bar = false;
        } else {
          this.open = false;
          this.close = true;
          this.cross = false;
          this.bar = true;
        }
      }
    },
    watch: {
      open: function () {
        this.open ? sidebarstatus.open = true : sidebarstatus.open = false;
        this.open ? landingpage.open = true : landingpage.open = false;
      },
      close: function () {
        hb.close ? sidebarstatus.close = true : sidebarstatus.close = false;
      }
    }
  });
</script>
<!--side bar-->
<nav id="sidebar-wrapper" :class="{ 'open': open, 'close': close }">
  <ul class="sidebar-nav" id="list-item">
    <li class="sidebar-brand">
      <a href="#banner">與精神疾病的真實距離</a>
    </li>
    <li class="sidebar-nav-item" v-for="value in items">
      <a class="js-scroll-trigger" :href=value.link>{{value.title}}</a>
    </li>
  </ul>
</nav>
<script>
  /* sidebar content */

  new Vue({
    el: '#list-item',
    data: {
      items: [
        {id: 1, link: '#cyberbully', title: '示範標題'},
        {id: 2, link: '#story', title: '聽聽他們怎麼說'},
        {id: 3, link: '#instagram', title: 'IG 遊戲介紹'}
      ]
    }
  })

  /* sidebar status */

  var sidebarstatus = new Vue({
    el: '#sidebar-wrapper',
    data: {
      open: hb.open,
      close: hb.close
    }
  })
</script>
<main id="landing" v-on:click.capture="closesidebar">
  <!-- story bar -->
  <nav id="story-bar"  @scroll.passive="scroll" v-show="show">
    <ul>
      <li @click="changea">
        <a href="#option">
          <img src="img/people1-01.png" alt="a-story">
        </a>
      </li>
      <li @click="changeb">
        <a href="#option">
          <img src="img/people2-01.png"  alt="b-story">
        </a>
      </li>
      <li @click="changec">
        <a href="#option">
          <img src="img/people3-01.png" alt="c-story">
        </a>
      </li>
    </ul>
  </nav>
  <!--video banner-->
  <div id="banner">
    <img src="img/title.svg" alt="title">
    <iframe frameborder="0" allowfullscreen volumn="0"
            allow="autoplay" title="YouTube video player"
            width="100%" height="100%"
            src="https://www.youtube.com/embed/dH-rxUB_PrY?rel=0&autoplay=1&loop=1&playlist=dH-rxUB_PrY&controls=0&modestbranding=1&fs=0"
            id="widget2"></iframe>
  </div>
  <!-- background-->
  <div class="background">
    <!-- story -->
    <div id="story">
      <page-title title="聽聽他們怎麼說"></page-title>
      <div>
        <div id="option" class="option-center">
          <button @click="changea"><img src="img/people%20story1-01.png" alt="respondent_1"></button>
          <button @click="changeb"><img src="img/people%20story2-01.png" alt="respondent_2"></button>
          <button @click="changec"><img src="img/people%20story3-01.png" alt="respondent_3"></button>
        </div>
        <div class="respondent-img wrapper">
          <img v-bind:src="img" alt="character">
        </div>
        <div class="wrapper">
          <div class="respondent center">
            <div class="respondent-inner-line">
              <respondent v-for='text in respondent' :key="text.key" :content="text.content"
                          :title="text.title"></respondent>
            </div>
          </div>
        </div>
        <div class="center">
          <paragraph v-for="text in posts" :key="text.key" :content="text.content"></paragraph>
        </div>
      </div>
    </div>
    <!-- cyberbully -->
    <div id="cyberbully">
      <page-title title="示範標題"></page-title>
      <div class="center shallow">
        <div class="inner">
          <paragraph v-for="text in posts" :key="text.key" :title="text.title" :subtitle="text.subtitle" :content="text.content"></paragraph>
          <div class="wrapper">
            <img src="img/a.jpg" alt="a">
            <p>a</p>
          </div>
          <paragraph v-for="text in posts2" :key="text.key" :title="text.title" :subtitle="text.subtitle" :content="text.content"></paragraph>
          <div class="wrapper">
            <img src="img/a.jpg" alt="a">
            <p>a</p>
          </div>
          <paragraph v-for="text in posts3" :key="text.key" :title="text.title" :subtitle="text.subtitle" :content="text.content"></paragraph>
          <div class="wrapper">
            <img src="img/a.jpg" alt="a">
            <p>a</p>
          </div>
          <paragraph v-for="text in posts4" :key="text.key" :title="text.title" :subtitle="text.subtitle" :content="text.content"></paragraph>
          <div class="wrapper">
            <img src="img/a.jpg" alt="a">
            <p>a</p>
          </div>
          <paragraph v-for="text in posts5" :key="text.key" :title="text.title" :subtitle="text.subtitle" :content="text.content"></paragraph>
          <div class="wrapper">
            <img src="img/a.jpg" alt="a">
            <p>a</p>
          </div>
          <paragraph v-for="text in posts6" :key="text.key" :title="text.title" :subtitle="text.subtitle" :content="text.content"></paragraph>
          <div class="wrapper">
            <img src="img/a.jpg" alt="a">
            <p>a</p>
          </div>
          <paragraph v-for="text in posts7" :key="text.key" :title="text.title" :subtitle="text.subtitle" :content="text.content"></paragraph>
          <div class="wrapper">
            <img src="img/a.jpg" alt="a">
            <p>a</p>
          </div>
          <paragraph v-for="text in posts8" :key="text.key" :title="text.title" :subtitle="text.subtitle" :content="text.content"></paragraph>
          <div class="wrapper">
            <img src="img/a.jpg" alt="a">
            <p>a</p>
          </div>
          <paragraph v-for="text in posts9" :key="text.key" :title="text.title" :subtitle="text.subtitle" :content="text.content"></paragraph>
          <div class="wrapper">
            <img src="img/a.jpg" alt="a">
            <p>a</p>
          </div>
          <paragraph v-for="text in posts10" :key="text.key" :title="text.title" :subtitle="text.subtitle" :content="text.content"></paragraph>
        </div>
      </div>
    </div>
    <!-- instagram -->
    <div id='instagram'>
      <page-title title="IG 遊戲介紹"></page-title>
      <div id="carousel">
        <div class="arrow" @click="previous">
          <i class="fas fa-chevron-left fa-2x"></i>
        </div>
        <img :src="carousel" alt="carousel">
        <div id="circle">
          <i @click="clair" :class="{ 'far fa-circle': passive_1, 'fas fa-circle': active_1 }"></i>
          <i @click="draw" :class="{ 'far fa-circle': passive_2, 'fas fa-circle': active_2 }"></i>
          <i @click="bunny" :class="{ 'far fa-circle': passive_3, 'fas fa-circle': active_3 }"></i>
        </div>
        <div class="arrow" @click="next">
          <i class="fas fa-chevron-right fa-2x"></i>
        </div>
      </div>
      <div class="center">
        <paragraph v-for="text in posts" :key="text.key" :content="text.content"></paragraph>
        <paragraph v-for="text in posts" :key="text.key" :content="text.content"></paragraph>
        <paragraph v-for="text in posts" :key="text.key" :content="text.content"></paragraph>
        <div class="wrapper">
          <div class="qrcode-title">
            <h2>「你...可以拯救要自殺的 ta 嗎？」</h2>
          </div>
          <div class="start">
            <a href="https://github.com/KionAoki/anonymous">
              <p>開始遊戲</p>
            </a>
            <a href="https://github.com/KionAoki/anonymous">
              <img src="img/qrcode.svg" alt="QRcord">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    /* Page title */

    Vue.component('page-title', {
      props: ['title'],
      template: `
        <div class="title-wrapper">
          <div class="line"></div>
          <div class="title">
            <h2>{{ title }}</h2>
          </div>
          <div class="line"></div>
        </div>
      `
    })
  </script>
</main>
<script>

  /* paragraph content  */

  var cyberbully_posts_1 = [
    { key: '1',
      title: '前言',
      subtitle: '',
      content: '根據DTL(Ditch the Label)歷時四年統計1900萬條的推特推文中的髒詞統計，前三名分別被Bitch、Dumb、Fucking給包攬。' +
        '隨著我們越來越沈浸網路的世界中，網路霸凌(Cyberbullying)一直沒有離開過視線範圍，甚至也許你會覺得網路霸凌稀鬆平常。' +
        '但近年網路霸凌翻倍增長的趨勢大環境下，是台灣還未有相關專法來制止網路霸凌行為；在此背景下的你我，到底該如何是好？' +
        '看完此份報告，相信可以對你有所幫助。'
    },
    { key: '2',
      title: '什麼?日本近半數人口沒有網路霸凌概念!?',
      subtitle: '全球人民對於網路霸凌概念的認知程度\n',
      content: '根據2016-2019年網絡欺凌的事實和統計數據(Sam Cook,2019)報告指出，全球範圍內的受訪者對網路霸凌認知差距懸殊：' +
        '其中認知程度最高的國家為瑞典及義大利，有91%受訪者明白網路霸凌之相關概念；最低的為沙烏地阿拉伯，僅有37%。'
    }
  ];

  var cyberbully_posts_2 = [
    { key: '1',
      title: '',
      subtitle: '',
      content: '大致了解了全球人民對於網路霸凌概念的認知程度後，接下來看看究竟何種行為才會被定義為「網路霸凌」？'
    },
    { key: '2',
      title: '',
      subtitle: '網路霸凌的定義',
      content: '美國網路霸凌研究中心(Cyberbullying Research Center)給出的網路霸凌定義為:\n' +
        ' <b>Willful and repeated harm inflicted through the use of computers, cell phones, and other electronic devices.(通過電腦、手機等其他電子產品所造成的故意、反覆傷害。)</b> ' +
        '另一邊，StopBullying網站對於網路霸凌之定義則更為詳細：網絡霸凌(Cyberbullying)是霸凌行為的一種。網路霸凌的場合是手機，電腦和平板等電子產品；' +
        '其發生可以通過SMS，簡訊和應用程序進行，也可以在社交媒體，論壇或遊戲中進行，人們可以在上述介質中查看，參與或共享內容。 ' +
        ' <b>網絡霸凌行為包括發送，發布或共享有關他人的負面，有害，虛假等負面內容；也可以是共享有關他人之隱私信息，從而導致當事人感到尷尬或屈辱。</b>'
    },
  ];
  
   var cyberbully_posts_3 = [
     { key: '1',
       title: '',
       subtitle: '全球網路霸凌數字正在不斷攀升中',
       content: '從2007年至2016年，美國國高中生經歷過網絡欺凌的個人比例幾乎翻了一番(18％至34％)' +
         '(<a href="https://cyberbullying.org/summary-of-our-cyberbullying-research">Patchin＆Hinduja,2016</a>)。'
     }
   ];
  
  var cyberbully_posts_4 = [
    { key: '1',
      title: '',
      subtitle: '',
      content: '而台灣對於網路霸凌的統計中19.6%的人有被網路霸凌的經驗，10%的人有網路霸凌別人的經驗，而有 54.7%的網路霸凌旁觀者知道有人被網路霸凌。' +
        '(廖國良、黃正魁、張仁俊、劉籹君，2012)。根據 <a href="https://www.children.org.tw/news/advocacy_detail/1538">兒童福利聯盟</a> 的調查將近四分之三的兒少(74.1%)覺得網路霸凌情形嚴重，' +
        '而有高達 <b>七成六</b> 的兒少有在網上有目睹或是自身遭遇受害的經驗，社群網站(93.2%)穩居第一，其次是通訊軟體(48.0%)。'
    },
    { key: '2',
      title: '',
      subtitle: '',
      content: '從上述內容可以看出，網路霸凌在日常生活中真的可謂是如影隨形；網路霸凌絕不僅僅只有肉搜或公審這樣引起較大迴響的事件；像例如黑特版靠北文，' +
        '或是各種群魔亂舞的自製人像貼圖，都屬於網路霸凌的範疇。只是很多現象已經司空見慣，讓我們不去質疑其合理性，可真的是這樣嗎？' +
        '網絡霸凌造成的影響很多時候猶如暗流湧動，表面看似風平浪靜，實則隨時可以把人捲入深淵吞噬。'
    },
    { key: '3',
      title: '',
      subtitle: '無法忽視的影響及傷害',
      content: '即使你從未成為任何形式的霸凌受害者，也應該了解霸凌對當事人產生的負面影響。霸凌帶給當事人的影響不僅僅只是一時低落，' +
        '這種虐待更多是持續從身理心理上產生影響，甚至有可能引發雪球效應。'
    },
    { key: '4',
      title: '',
      subtitle: '',
      content: '有64%的被網路霸凌者表示霸凌事件影響了他們的學習能力和在學校的安全感；並且患有頭痛或胃病的可能性是其他學生的兩倍' +
        '( <a href="https://cyberbullying.org/new-national-bullying-cyberbullying-data">Cyberbullying Research Center</a> )' +
        '( <a href="https://pediatrics.aappublications.org/content/132/4/720">Gianluca Gini, Tiziana Pozzoli,2013</a> )。' +
        '被網路霸凌者除了要應付霸凌事件本身，還要面對這一系列負面的身體變化，這樣也導致了他們比其他人更沒有安全感及感到焦慮。\n'
    },
    { key: '5',
      title: '',
      subtitle: '',
      content: '根據 <a href="https://www.ditchthelabel.org/wp-content/uploads/2017/07/The-Annual-Bullying-Survey-2017-1.pdf">Ditch the Label 2017</a> ' +
        '的調查報告中顯示，網路霸凌所造成的影響前三名分別是：' +
        '社交焦慮的增加（41%）、失望感的增加（37%）、有過自殺念頭（26%）以及刪除社群帳號（26%）。' +
        '其中自殺念頭是最容易讓人驚出一身冷汗吧：霸凌與自殺行為有很強的關聯性，但這種關係往往是由於其他因素所導致的例如憂鬱、暴力行為及濫用毒品' +
        '(Reed,Nugent,Cooper,2015)。並且美國疾控中心也指出曾遭受或參與過霸凌的學生，比其他未經歷霸凌的學生有更高的自殺相關行為。'
    },
    { key: '6',
      title: '',
      subtitle: '',
      content: '與此同時全球對於網路霸凌(Cyberbullying)概念的關注越來越高，根據Google Trends在全球範圍內，從2004年至今(19/09/30)' +
        '的搜索趨勢中可以看出，網絡霸凌議題的搜索整體呈上升趨勢。'
    },
  ];

  var cyberbully_posts_5 = [
    { key: '1',
      title: '',
      subtitle: '各國當前對於網路霸凌的因應之道',
      content: '反霸凌法(Anti-Bullying Law)是阻止霸凌行為的重要武器之一，但可惜的是並不是每個國家都有制定相關法律，' +
        '例如台灣目前並沒有針對網路霸凌的專法，如果當事人想要走法律途徑，只能以公然侮辱罪、誹謗罪等名義加以控告。(關懷資源詳見第三部分)'
    }
  ];
  var cyberbully_posts_6 = [
    { key: '1',
      title: '',
      subtitle: '',
      content: '現在我們把目光投向大洋彼岸的美國。與台灣不同的是，美國幾乎各州（除Alaska及Wisconsin外）都制定了針對網路霸凌的專法和學校營運政策；' +
        '並且也有許多官方組織例如Cyberbullying Research Center，PACER等，這些組織提供了大量有關網路霸凌的研究及相關統計。' +
        '其中本篇文章就使用了Cyberbullying Research Center關於美國各州霸凌法包含網路霸凌之內容統計數據：'
    },
  ];
  var cyberbully_posts_7 = [
    { key: '1',
      title: '',
      subtitle: '',
      content: '另一方面，英國法律中並沒有網路霸凌一詞相關概念，也並無網路霸凌專法(Cybersmile)。但許多民間團體基金會都會提供相關幫助：'
    },
    { key: '2',
      title: '',
      subtitle: '',
      content: ' <a href="https://www.bullying.co.uk/cyberbullying">Bullying UK</a> 是一間英國的NGO，該組織可以為父母或孩子提供心理諮商上的免費幫助，並且也會定期舉辦相關教育課程講座或出版期刊。' +
        ' <a href="http://ditchthelabel.org">Ditch the Label</a> 作為一家數位慈善機構，通過網頁及社群不斷幫助12-25歲孩童或年輕人克服霸凌遭遇，' +
        '其發布的網路霸凌年度報告更是詳細統計了英國網路霸凌現況及趨勢。'
    },
  ];

  var cyberbully_posts_8 = [
    { key: '1',
      title: '如果無法阻止網路霸凌，為何我們還要持續談論它??',
      subtitle: '大家都越來越離不開網路了',
      content: '國際電信聯盟(ITU)表示至2018年底，互聯網用戶將佔全球人口的51.2%（即39億）。' +
        '並且隨著AI與5G技術的發展，互聯網將覆蓋越來越多的生活場景，例如Foodpanda自2012年進駐台灣並在2018年超大幅度增長，' +
        '更是在2019年的周訂單已經超越了前六年的訂餐總和；蝦皮在2019上半年站上關鍵字搜尋總數超過 1.5 兆筆，也成功入圍台灣前十大通路。' +
        '互聯網作為連結萬物的基礎設施，其發展更是一路水漲船高，下圖是2001年至2018年的全球電信發展趨勢：'
    }
  ];

  var cyberbully_posts_9 = [
    { key: '1',
      title: '',
      subtitle: '',
      content: '以台灣地區為例，國家發展委員會指出當今台灣社會中18-19歲網路族群平均每日上網4.7小時，並且該族群網路沈迷傾向比其他年齡層民眾要高。' +
        '另一方面，台灣民眾在社群平台使用率高達80.6%，其中以15至19，20至24歲兩個族群佔比最高，分別為97.0%與97.9%。' +
        ' <b> 也就是說，台灣青少年不僅是在線時間最長，而且也是社群使用率最高的族群</b>。'
    },
    { key: '2',
      title: '',
      subtitle: '網路霸凌比起傳統霸凌更具殺傷力',
      content: ' 網路的便利性有時候就是一把雙刃劍，畢竟便利性說不定下一秒就變成了靠北鍵；神龍見首不見尾的鍵盤超人，還是如同便利店一般全年無休的不間斷問候，' +
        '最崩潰的莫過於只要伺服器沒有關閉，當事人永遠都可以看到那些傷害的痕跡，歲月撫平了細紋卻撫不平疤痕：'
    },
    { key: '3',
      title: '',
      subtitle: '',
      content: '<ol><li>由於匿名性不知道誰是霸凌者，或為什麼將自己作為目標</li>一份對全台地區網路使用者的調查顯示：' +
        '62.3%的網路霸凌受害者不知道是被誰網路霸凌（廖國良，2012）。另，以加害原因來看大多數受害者都不知道為何霸凌者為何要加害自己，' +
        '佔了 43%（謝意苹，2013）。<li>網絡霸凌不受制於時間空間</li>除了即時性的霸凌行為，霸凌者由於看不到被霸凌者，更可能採取惡毒的語言或是殘酷的手段。' +
        '<li>凡走過必留痕跡</li>網路大大提高了傳播速度，很多內容被快速複製保存；傳統霸凌內容大多停留在當事人記憶，無關人員不太容易獲取內容。' +
        '網路霸凌只需要一個關鍵字就可以找出霸凌現場，相關截圖錄屏讓事件更容易被轉發。<li>父母和監護人很難管理網絡霸凌(Hinduja和Patchin，2014)</li>' +
        '網路匿名性無法隨意去調閱IP地址，當父母與監護人發現自家小孩遭遇網絡霸凌時很難有效去制止霸凌行為，並且網路霸凌不同於肢體霸凌有時很難去察覺。' +
        '<li>網路霸凌也可能包含肢體霸凌</li>根據對美國高校的網路霸凌調查研究顯示，83%被網路霸凌者表示除了線上霸凌，他們同時也在線下遭受霸凌；' +
        '69%的霸凌者承認也曾經在線下對他人進行了霸凌行為( <a href="https://www.sciencedaily.com/releases/2017/02/170221102036.htm">Florida Atlantic University,2017</a> )。</ol>'
    },
    { key: '4',
      title: '',
      subtitle: '',
      content: '也許霸凌這個行為永遠也不會停止，但是這不代表我們就不需要去談論它；網路霸凌因其特殊性讓當事人不斷重複著二次傷害，' +
        '有時可能一張截圖就會把當事人好不容易積攢起來的勇氣給敲碎，或是一個連結就把心中的陽光給驅散進而留下深深的寂靜；' +
        '也許不保存、不擴散的安靜，就是對他們來說最大的幫助。'
    },
    { key: '5',
      title: '醒醒，網路霸凌無法讓你有所成長!!',
      subtitle: '',
      content: '當孩子遭遇霸凌時，不少家長鼓勵孩子要堅強時，經常會搬出類似“這些傷痛是成長的必經之路，你要努力去克服它”的話語。' +
        '實際上根據Ditch the Label對曾經的被霸凌者做過統計： <b>約77%的被網路霸凌孩童都認為霸凌不應該是成長的一部分。</b> ' +
        '(roughly 77% of children from around the world believe that bullying should not be a normal part of growing up.)'
    },
    { key: '6',
      title: '',
      subtitle: '',
      content: '而如果真的不幸遭遇了霸凌，那麼不管是直面解決還是選擇躲避都是沒有關係的。' +
        '世界上沒有一個研究或是SOP可以完美解決霸凌遭遇，在之前對被網路霸凌者的訪談中我們得知，每個人對於突如其來的變故都有不一樣的解決方式，' +
        '有的人直面霸凌者選擇了回嗆；也有人選擇了關閉一切通訊軟體；也有人選擇了尋求別人幫助來保護自己；他們都有各自的理由，' +
        '但當問到“如果現在可以對正在遭受網路霸凌的人說點什麼，你想傳達的是？”他們大多都表達了“比起別人的看法意見，自己的心情想法才是真正重要的。”'
    },
    { key: '7',
      title: '',
      subtitle: '',
      content: '也就是說，不管是霸凌者的傷害或是身邊人的建議，首先應該傾聽自己的內心，直面或逃避都沒關係，只要自己可以獲得快樂和平靜，' +
        '就是最好的解決方法。並且要明白霸凌不會促進成長，拯救自己的過程才是。'
    },
    { key: '8',
      title: '',
      subtitle: '',
      content: '這裏蒐集了一些可以獲得幫助的資源：'
    },
    { key: '9',
      title: '',
      subtitle: '',
      content: '在法律諮商方面，法務局、各區公所及戶政事務所有免費的義務律師提供法律諮詢，只需要去網頁或電話提前預約時間：' +
        '<ul><li><a href="https://wsdo.gov.taipei/cp.aspx?n=8C91A036C09515F6">文山區公所免費法律諮詢</a></li>' +
        '<li><a href="https://www.law.ntpc.gov.tw/home.jsp?id=5eed5cacfa562ac6">新北市政府法制局免費法律諮詢服務</a></li>' +
        '<li>或是像 <a href="https://ntulegalservice.weebly.com/">臺大也有法律服務社</a> 提供民眾法律諮詢，支持線上報名及現場候位。</li></ul>'
    },
    { key: '10',
      title: '',
      subtitle: '',
      content: '心理諮商方面除了學校的諮商中心外，各區健康中心都有諮商駐點，收費方式健保50+諮商費200共計250，詳細介紹請參考官方網頁：' +
        '<ul><li> <a href="https://www.wshc.gov.taipei/News_Content.aspx?n=E175F07FB6C8C366&s=6D58DF7D601ECF2A">臺北市文山區社區心理諮商服務</a></li></ul>'
    },
    { key: '11',
      title: '',
      subtitle: '',
      content: '或是加入相關反網路霸凌的社團，去和相同遭遇的人傾訴：<ul>' +
        '<li>FB社團- <a href="https://www.facebook.com/080club/">網路霸凌防制組織</a></li>' +
        '<li>FB社團- <a href="https://www.facebook.com/StopBullying.Gov/">StopBullying.Gov</a></li></ul>'
    }
  ];

  var cyberbully_posts_10 = [
    { key: '1',
      title: '等等，那家長和周遭人可以怎麼做??',
      subtitle: '',
      content: '據調查只有2成青少年在遭遇網路霸凌時會選擇告訴身邊的成年人，而近8成選擇告訴周圍朋友，只有一成左右受訪者選擇告訴警察（廖國良，2012）。' +
        '爸爸麻麻們先不要著急，這可能並不是你和家裏小孩溝通有問題，因為很可能是孩子擔心告知被霸凌會減少自己的上網時間。PACER給出了一些建議：' +
        '首先要溝通了解孩子的想法需求，孩子可能會覺得被霸凌是自己的問題，或是被減少上網時間等；其次是制定一些上網規則，' +
        '例如不要隨便透露自己的郵箱地址或是所在學校等個人信息，並保管好自己的帳號密碼；最後父母需要一起參與孩子們的網路世界，' +
        '並一起討論所遇到的問題。當然父母也應該積極了解學校的防霸凌政策，並保存相關負責人的聯繫方式。'
    },
    { key: '2',
      title: '',
      subtitle: '',
      content: '那萬一孩子不說，可不可以通過其他方式來了解孩子是否遭遇網路霸凌？答案是肯定的，在遭遇網路霸凌後可能會出現的行為(美國國家預防犯罪中心NCPC)：' +
        '<ol><li>變得退縮或開始抗拒上學</li><li>情緒低落，出現睡眠問題</li><li>企圖自殘或自殺</li><li>情緒低落，出現睡眠問題</li>' +
        '<li><b>停止使用電腦或其他連結網路的設備**</b></li></ol>**：這被認為是危險信號，由於孩子此前與設備的聯繫緊密，' +
        '這突然斷開的反常舉動需要去和孩子溝通他們最近的生活經歷。'
    },
    { key: '3',
      title: '最後的話',
      subtitle: '',
      content: '悲觀來說隨著互聯網的不斷發展，網絡霸凌事件也許會持續增加；可是隨著各國的越來越重視，相關法律及服務保障一定會更加完善。' +
        '也許對於你我這樣的普通人，更加關心的或許是如何去幫助自己或是周遭親友；也許我們還可以思考的是，除了把資源在防制網絡霸凌外，' +
        '是否可以把更多關注給予被霸凌的當事人，告訴他們：'
    },
    { key: '4',
      title: '',
      subtitle: '',
      content: '「你並不是一個人，我愛你，我們都愛你，所以想笑就笑，想哭就哭吧，只希望你能愛你自己。」'
    },
    { key: '5',
      title: '',
      subtitle: '',
      content: 'bgm：Vast & Hazy-求救訊號'
    }
  ];
  

  var story_1 = [
    {
      key: '1', title: '原來我交不到女朋友，竟是因為這小貓咪？', content: ''
    },
    {
      key: '2', title: '', content: '我姓李，所以接下來我都會稱呼自己為“L”。接下來要說的，其實是在我身上發生，很小的一件事。'
    },
    {
      key: '3', title: '', content: '當我還是個剛入學的小大一時，機緣巧合下和班上的女生A關係變得還不錯，我們經常會聊一些詩歌詞賦的東西，' +
        '因為是中文系嘛，聊這些也挺正常的。後來她還曾經邀請我出去吃過飯，我還記得當時是去吃海南雞，嫩滑的肉質不禁想起了易君左的“黃雞白酒嫩菠青”，' +
        '便又與她討論了起來。她笑起來眼睛會不自覺瞇成一條縫，臉頰不知是不是腮紅的原因看起來紅撲撲的，看起來有一種無拘無束的快樂。'
    },
    {
      key: '4', title: '', content: '後來她知道我的室友B有養貓，便提出想要參觀我和朋友們的租屋處；她看起來很喜歡貓，眼神一直在跟隨那隻貓；' +
        '當然因為有貓最為很好的話題，她和我的室友們也很快熟絡起來。'
    },
    {
      key: '5', title: '', content: '由於我們幾個大男人平時在家都是四角內褲相見，對於這次女生到訪打起了十二分精神，就差穿上帥氣西裝和把頭髮梳成大人模樣，' +
        '後來我們也正襟危坐在桌子的不同方位，這個畫面怎麼想都覺得很搞笑。'
    },
    {
      key: '6', title: '', content: '後來她離開時禮貌性的加了室友們的line，室友們則對這個第一次見面的我的曖昧對象誇讚不已，' +
        '紛紛舉起大拇指稱我是全村的希望。我當時也曾慷慨表示若在一起，我也會多多撮合她的朋友一起經常聚餐的，只要他們能管我叫爸爸。'
    },
    {
      key: '7', title: '', content: '現在回想起來，那時候真是快樂阿，當時的我真的是意氣風發，一腔熱血覺得世界只要是努力便可以攻克的；' +
        '不斷持續雞血般的狀態，甚至影響了我的小說創作：“所愛隔山海，山海不可平；海有舟可渡，山有路可行；為愛翻山海，山海皆可平。”'
    },
    {
      key: '8', title: '', content: '可後來我才明白：'
    },
    {
      key: '9', title: '', content: '“山海皆可平，難平是人心。”'
    },
    {
      key: '10', title: '', content: '我們之間的曖昧就這麼持續了一個學期，再後來的一天因為養貓室友要出國旅遊，便把貓咪交付予我照顧，' +
        '我也就順嘴問了A要不要來家裏看貓。反正一回生二回熟，家裡的室友們對她也不再像第一次那樣表現得很拘謹，大家聊天聊的很愉快甚至還發了限時。'
    },
    {
      key: '11', title: '', content: '但這次到訪後她對我的態度突然冷了下來，我以為她也許是覺得我們之間還是不合適，' +
        '畢竟都過了一學期我們之間還沒有什麼實質性進展。'
    },
    {
      key: '12', title: '', content: '但我想錯了，因為隨之而來我收到了她的限時截圖：'
    },
    {
      key: '13', title: '', content: '“真是知人知面不知心，打著看貓名義騙我來你家，結果發現家裏只有你一個，想對我做什麼傻子都明白啊，要不是我反應的快，' +
        'L你就好自為之吧，希望以後的小學妹不要再被你騙了！”'
    },
    {
      key: '14', title: '', content: '我第一反應是想要辯解，刪刪改改幾次後把希望澄清誤會的訊息傳給了她，但那時我才發現自己早已被她拉黑。'
    },
    {
      key: '15', title: '', content: '但我並沒有放棄，趕緊借用周圍人的帳號試圖聯繫她，但當點開她的頭像的時候我愣住了。'
    },
    {
      key: '16', title: '', content: '因為我發現，她居然和我的室友B在一起了。'
    },
    {
      key: '17', title: '', content: '“這特馬都是殺小？”我的大腦一片空白。'
    },
    {
      key: '18', title: '', content: '當時就如同回馬燈一樣，我的人生開始飛快倒放起來：她第一次見到B時、她離開時加了所有室友line時、' +
        '她第二次來我們一起逗貓時、還有B最近都早出晚歸感覺很久沒有碰到面的畫面時......'
    },
    {
      key: '19', title: '', content: '憤怒？悲傷？還是覺得好笑，各種情緒充斥著腦海讓我思緒爆炸，只覺得莫名其妙的掉入了平行世界，' +
        '因為這一切實在是過於匪夷所思。當我整理好情緒準備理智的和室友B談一談時，毫不意外的，我也被B拉黑了。'
    },
    {
      key: '20', title: '', content: '可我以為只要與B斷交，並且祝福這對狗男女天長地久就可以結束這場鬧劇時，才發現流言早就不脛而走，' +
        '如同星星之火般燎滿了班上同學的動態，這個看貓的故事被傳唱成不同版本，甚至加入了很多我本人都記不清的細節，但毫無疑問我被當作“噁男”已經是板上釘釘，' +
        '甚至一度升級為變態、犯罪等神劇情發展。其他室友們想要幫我解圍，可由於不同系所且大部分指責都是限時動態，所以只能變成精神鼓勵。'
    },
    {
      key: '21', title: '', content: '本來被人誤解罵一罵也就算了，但是不能忍的是後來只要我和別的女生出去吃飯，她們就會發動態說什麼新的受害者又要出現了之類。' +
        '久而久之我也不再約女生而是和室友廝混在一起。但我還是依然能從別人看我那微妙的眼神中推斷，她們在講什麼內容：'
    },
    {
      key: '22', title: '', content: '她們總是一開始會竊竊私語，到後來一聲“真的假的!?”來打破前面努力保持的寧靜，但當我轉頭眼神對視的一瞬間，她們便把頭彈開看向其他地方，' +
        '空氣再度回歸安靜，彷彿剛剛什麼都沒有發生似的。'
    },
    {
      key: '23', title: '', content: '當然了，有時候我也覺得滿腹的委屈，因為這根本就是無妄之災，我甚至都不知道自己做錯了什麼，或哪裏惹到了她們；' +
        '也許是自己是遭人厭惡已久，便尋個藉口來審判我，也或者我本身就是一個不被接受的存在。'
    },
    {
      key: '24', title: '', content: '那段時間不想看見人，就常常一個人躲起來發呆，一待就是好幾個小時。覺得自己就如「謊言的烙印」主角一般，' +
        '無緣無故便承受了這個世界的惡意，甚至當所有人都在指責我罪行時，我也開始懷疑自己是不是真的有做過？哪怕想要通過謝罪來平息眾怒也是，' +
        '思索半天竟不知道有什麼可以拿來道歉的，也許就只有那句：'
    },
    {
      key: '25', title: '', content: '“生而為人，我很抱歉。”來表達此刻心情吧。'
    },
    {
      key: '26', title: '', content: '不過好在身邊朋友一直願意相信我，同時也結交了新的圈子，他們的肯定讓我不再一直自我否定。人啊，只要有了願意相信自己的人真的是會變得強大的。' +
        '所以這件事也沒有對我造成什麼實質性的傷害，可能最大的傷害就是潛在的女朋友們在目睹我英姿之前就被流言嚇跑了吧。'
    },
    {
      key: '27', title: '', content: '或許以後聊天我可以說「震驚！L大學單身的真相竟然是一隻可愛貓咪？」什麼這樣白痴的事情吧。'
    },
    {
      key: '28', title: '', content: '畢竟後來我想通了，人與人之間的相互交談是需要素材的，比如“今天的天氣真好呢。”“昨天新上的專輯好聽到爆。' +
        '”這樣無意義的對話可以有效保持空氣不尷尬，讓雙方看起來都體貼又有趣。'
    },
    {
      key: '29', title: '', content: '那關於我身上所發生的一切呢？'
    },
    {
      key: '30', title: '', content: '也不過是構築他們聊天內容的磚塊罷了，真相如何誰會在意？大家在意的只是聊天不要蒼白無趣、索然無味就好。'
    },
    {
      key: '31', title: '', content: '而越是荒誕離奇的故事，就越可以栩栩如生的帶動氣氛、拉近關係。'
    },
    {
      key: '32', title: '', content: '你看，這多好呀。'
    }
  ];

  var story_2 = [
    {
      key: '1', title: '人物二', content: ''
    },
    {key: '2', title: '', content: '政治中心/綜合報導'},
    {
      key: '3', title: '', content: '2020總統大選越來越激烈，除了要拚連任的總統蔡英文以及獲得國民黨提名的高雄市長韓國瑜之外，' +
        ' 日前前副總統呂秀蓮也決定參戰。現在傳出，時代力量有意找立委黃國昌參選2020。' +
        '時代力量祕書長 吳佩芸表示，黨中央正草擬「時代力量總統候選人提名辦法」，並以徵召黃國昌委員為優先考量選項 之一。'
    },
    {
      key: '4', title: '', content: '針對2020大選，民進黨提名記者會，包含公布賴品妤參戰新北汐止區，時代力量祕書長吳佩芸表示尊重他黨安排，' +
        '選戰倒數115天，時力將全力支持在地深耕五年的國會辦公室主任賴嘉倫。吳佩芸也強調，時代力量在汐止區不只是已參戰，' +
        '更以「拿下勝利」為主要目標，延續時力在該選區的深耕經營。'
    },
    {
      key: '5', title: '', content: '針對外界認為時代力量和民進黨兩黨主席對談似乎陷入僵局，' +
        '吳佩芸表示，作為時力秘書長仍不會放棄與民進黨秘書長羅文嘉展開對談的可能性，' +
        '不管是立委選區、政策推進、對談形式公開與否，都沒有任何限制，喝咖啡之約隨時有效。\n'
    },
    {
      key: '6', title: '', content: '另外，有記者詢問時代力量是否會與柯文哲尋求合作?祕書長吳佩芸表示，柯文哲市長須先放棄「兩\n' +
        '岸一家親」路線，並向民眾清楚說明台灣主權國家的立場，時代力量與柯文哲才有談下一步的可能。'
    },
    {
      key: '7', title: '', content: '針對2020總統選舉，吳佩芸也說明，時代力量黨中央正草擬「時代力量總統候選人提名辦法」' +
        '，並以徵召黃國昌委員為優先考量選項之一。自提總統候選人是政黨主體性的展現，吳佩芸強調，未來若有機會與羅文嘉對談，' +
        '將排除總統選舉層次，以免衍生錯誤解讀。'
    }
  ];

  var story_3 = [
    {
      key: '1', title: '人物三', content: ''
    },
    {
      key: '2', title: '', content: '在一個再平常不過假日午後，' +
        '總有許多高三生正為了學測與書本搏鬥著，而我也不例外的是其中一個。'
    },
    {
      key: '3', title: '', content: '這天，我跟朋友一如往常地約了摩斯漢堡店，打算來趕個考試進度。' +
        '由於被睡意絆著了腳，我踏進店裡時已經是下午兩點多，而我那位朋友正好在吃著午餐。' +
        '也沒什麼食慾的我，打算先解決一張考卷再去點餐，殊不知，寫完整張耗費了我四十分鐘之久。'
    },
    {
      key: '4', title: '', content: '而在我正要起身打算去櫃台點餐時，' +
        '店員正巧走過來詢問：「如果已經用餐完畢的話，可以先把位子讓出來給下一位客人嗎？」' +
        '在我解釋完畢我仍未用餐之後，店員表示理解前往詢問下一桌。' +
        '但令人不解的是，該店員竟然詢問了店裡的「每一桌客人」能否先行讓位，' +
        '我不禁往門口撇了一眼，卻發現只有一組正在排隊等候的客人。' +
        '當時被諸多課業壓力纏身的我，覺得此舉稍微荒謬且小題大作了些，' +
        '於是於排隊點餐時，用稍稍帶有抱怨與調侃的語氣在社群網站發文記錄此事件。'
    },
    {
      key: '5', title: '', content: '對於一個時常在社群網站發文抒發壓力的人來說，這是再正常不過的一件事，\n' +
        '然而因為當時並未意識到自己在某項領域累積的聲望是具有一定的程度的，\n' +
        '所謂「聲望攀升，黑特也會成一定正比的增加」，\n' +
        '於是我的這篇紓壓文章便遭有心人刻意使用假帳號上傳「靠北音game」，\n' +
        '並在遭到炮轟「本文與音樂遊戲毫無關聯」後轉而上傳「靠北奧客」並引發了大炎上。'
    },
    {
      key: '6', title: '', content: '在眾多不特定的閱覽群中，從事的工作與服務業有關占了一定比率是不可避的，\n' +
        '因此對於我這篇以「陌生人」的角度來看儼然就是奧客行為的抱怨文感到氣憤無比。\n' +
        '在我本人得知之後，馬上進行刪文的動作，但仍無法避免此起彼落的負面評論，\n' +
        '正當批評、幸災樂禍、人身攻擊等等的留言應有盡有，\n' +
        '即使匿名上傳的文章中是有對我的照片及人名以馬賽克處理，也無法改變我承受砲火傷害的事實。'
    },
    {
      key: '7', title: '', content: '然而最意想不到的是，在我重啟帳號之後，竟發現匿名文章被許多網路記者拿去寫了網路新聞，\n' +
        '不只如此，在「靠北音Game」上一次多了許多篇流言蜚語，似乎是有心人想一舉讓我身敗名裂。\n' +
        '不禁讓我感嘆，在網路如此發達的社會，同時造就了眾多的「無知酸民」與「鍵盤戰士」，\n' +
        '認為避不見面就能夠毫無顧忌的大放厥詞，有如深怕對方受不到傷害一般的狠踩，實在令人無奈。'
    },
    {
      key: '8', title: '', content: '時隔至今已過了兩年，\n' +
        '學測早已結束，壓力也隨之拋到九霄雲外了，\n' +
        '而當時的「四十分鐘事件」早已成為了我拿來自嘲的笑話。\n' +
        '如今再次回想起，已無那時的在意與自責，\n' +
        '但也只能怪自己當時言行不夠謹慎，且忘了將紓壓文設定成「僅限好友閱覽」。'
    },
    {
      key: '9', title: '', content: '「不經一事，不長一智」，人生總會有許多失言的場合，可大可小。\n' +
        '萬一炎上真的發生了，必須立刻處理以避免更加擴散的可能，\n' +
        '盡量嘗試所有可能的解決方案，並在事後仔細思考自己的錯誤且加以改進。\n' +
        '千千萬萬不能擺著事情不處理，自己卻掉入無止盡的負面情緒當中，\n' +
        '或者因為情緒一來，就直接在網路上公開跟人互相指責批評，\n' +
        '此舉不但不能解決問題，反而會讓事態更加嚴重。'
    },
    {
      key: '10', title: '', content: '網路霸凌時時刻刻都在發生，\n' +
        '不分老少，有不少人都不懂得網路上發言的技巧，以及網路上發言的重要程度。\n' +
        '不論學校小班群、遊戲社團、粉絲專頁、影片留言區等等，\n' +
        '往往能看到許多針對性的批評與人身攻擊，\n' +
        '且發言者「通常」都不瞭解其每一具攻擊性的話都是帶有法律責任的。\n' +
        '由於有這樣情形的人數完全不在少數，\n' +
        '我們只能期待這類型的人們終有一天能有所改變，\n' +
        '或是從根本開始檢討自己的每一則發言是否適合於公開場合發表，\n' +
        '按下「ENTER鍵」多思考一番，改善網路環境，從自己做起。'
    },
  ];

  /* paragraph component  */

  var paragraph = Vue.component('paragraph', {
    props: ['key', 'content','title','subtitle'],
    template:
      `
              <div class="wrapper">
                <div class="block-content">
                  <h3>{{title}}</h3>
                </div>
                <div class="block-content">
                  <p class="subtitle">{{subtitle}}</p>
                </div>
                <div class="block-content">
                  <p v-html="content"></p>
                </div>
              </div>
              `
  })

  /* story component  */

  Vue.component('respondent', {
    props: ['title', 'content'],
    template: `
    <div class="wrapper">
        <div class="story-title">
          <h3>{{title}}</h3>
        </div>
        <div class="block-content">
          <p>{{content}}</p>
        </div>
    </div>
    `
  });

  /* landingpage's instance  */

  var landingpage = new Vue({
    el: '#landing',
    data: {
      open: hb.open,
      story: 'respondent-1',
      posts: cyberbully_posts_1,
      posts2: cyberbully_posts_2,
      posts3: cyberbully_posts_3,
      posts4: cyberbully_posts_4,
      posts5: cyberbully_posts_5,
      posts6: cyberbully_posts_6,
      posts7: cyberbully_posts_7,
      posts8: cyberbully_posts_8,
      posts9: cyberbully_posts_9,
      posts10: cyberbully_posts_10,
      show: false,
      respondent: story_1,
      img: 'img/people%20story1-01.png',
      carousel: 'img/a.jpg',
      passive_1: false,
      passive_2: true,
      passive_3: true,
      active_1: true,
      active_2: false,
      active_3: false,
    },
    mounted(){
      window.addEventListener('scroll',this.yyy,true);
      function loop(i){
        setTimeout('landingpage.next()', 3000);
      }
      var i=1;
      while(i<6){
        loop(i);
        i++;
      }
    },
    methods: {
      closesidebar: function () {
        if (this.open) {
          sidebarstatus.open = false;
          sidebarstatus.close = true;
          hb.open = false;
          hb.close = true;
          hb.cross = false;
          hb.bar = true;
        }
      },
      changea: function () {
        this.respondent = story_1;
        this.img = 'img/people%20story1-01.png'
      },
      changeb: function () {
        this.respondent = story_2;
        this.img = 'img/people%20story2-01.png'
      },
      changec: function () {
        this.respondent = story_3;
        this.img = 'img/people%20story3-01.png'
      },
      scroll: $(function(){
        var story=document.getElementById('option').offsetTop + document.getElementById('option').offsetHeight;
        var instagram=document.getElementById('story').offsetTop + document.getElementById('story').offsetHeight;
        $(window).scroll(function() {
          var current = $(this).scrollTop();
          if(current > story){
            landingpage.show = true;
          }else {
            landingpage.show = false;
          }
          if(current > instagram) {
            landingpage.show = false;
          }
        })
      }),
      node1: function(){
        landingpage.passive_1 = false;
        landingpage.passive_2 = true;
        landingpage.passive_3 = true;
        landingpage.active_1 = true;
        landingpage.active_2 = false;
        landingpage.active_3 = false;
      },
      node2: function(){
        landingpage.passive_1=true;
        landingpage.passive_2=false;
        landingpage.passive_3=true;
        landingpage.active_1=false;
        landingpage.active_2=true;
        landingpage.active_3=false;
      },
      node3: function(){
        landingpage.passive_1=true;
        landingpage.passive_2=true;
        landingpage.passive_3=false;
        landingpage.active_1=false;
        landingpage.active_2=false;
        landingpage.active_3=true;
      },
      previous: function () {
        if(this.carousel === 'img/a.jpg'){
          this.carousel ='img/c.jpg';
          this.node3();
        }else if(this.carousel === 'img/b.jpg'){
          this.carousel ='img/a.jpg';
          this.node1();
        }else if(this.carousel === 'img/c.jpg'){
          this.carousel ='img/b.jpg';
          this.node2();
        }
      },
      next: function () {
        if(landingpage.carousel === 'img/a.jpg'){
          this.carousel ='img/b.jpg';
          this.node2();
        }else if(landingpage.carousel === 'img/b.jpg'){
          this.carousel ='img/c.jpg';
          this.node3();
        }else if(landingpage.carousel === 'img/c.jpg') {
          this.carousel = 'img/a.jpg';
          this.node1();
        }
      },
      clair: function () {
        this.carousel ='img/a.jpg';
        this.node1();
      },
      draw: function () {
        this.carousel ='img/b.jpg';
        this.node2();
      },
      bunny: function () {
        this.carousel ='img/c.jpg';
        this.node3();
      }
    }
  })

</script>
<footer>
  <div class="wrapper footer">
    <div id="share">
      <div>
        <img src="img/logo.png" alt="logo">
      </div>
      <div class="link footer-center">
        <div v-for="value in items">
          <a :href=value.link target="_blank">
            <img :src=value.image :alt=value.alt>
          </a>
        </div>
      </div>
    </div>
    <div id="credit">
      <div>
        <p>製作團隊</p>
      </div>
      <div v-for="value in items" class="footer-center">
        <div><p>{{value.work}}</p></div>
        <div><p>|</p></div>
        <div><p>{{value.name}}</p></div>
      </div>
    </div>
  </div>
</footer>
<script>
  /* share content */

  new Vue({
    el: '#share',
    data: {
      items: [
        {
          id: 1,
          link: 'https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnewmedia.pts.org.tw%2Fmental_disorder%2F&amp;src=sdkpreparse',
          image: 'img/share_nav_fb.svg',
          alt: 'fb_share'
        },
        {
          id: 2,
          link: 'https://social-plugins.line.me/lineit/share?url=https%3A%2F%2Fnewmedia.pts.org.tw%2Fmental_disorder',
          image: 'img/share_nav_line.svg',
          alt: 'line_share'
        }
      ]
    }
  })

  /* credit content */

  new Vue({
    el: '#credit',
    data: {
      items: [
        {id: 1, work: '數據、文字整理', name: 'Seo Joo Kim'},
        {id: 2, work: '設計', name: 'Chew Hui Jing'},
        {id: 3, work: '工程', name: 'Kion'}
      ]
    }
  })
</script>
</body>
</htmL>