/* body margin */

body{
  margin: 0px;
}

/* wrapper margin*/

.wrapper{
  margin: 60px;
}

.block-content{

}

/* font size */

h1{
  font-size: 60px;
  font-family: 'Noto Sans TC', sans-serif;
  color: #ffffff;
}
h2{
  font-size: 34px;
  color: #FFFFFF;
  font-family: 'Noto Sans TC', sans-serif;
}
h3{
  font-size: 24px;
  color: #FFEE52;
  font-family: 'Noto Sans TC', sans-serif;
}
p{
  font-size: 17px;
  color: #FFFFFF;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 2em;
}

/* loading page */

.loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #f0f0f0;
}

.loadend{
  display: none;
}

#loading{
  background: #333;
}

#img_preload{
  height: 100vh;

}
.loder{
  position: absolute;
  right: 45%;
  top: 40%;
  background: #333;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: loding 1s linear infinite;
  -webkit-animation: loding 1.0s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes loding{
  0%{
    transform: scale(0);

  }
  100%{
    transform: scale(1);
    opacity: 0

  }
}

/* background */

.background{
  background-color: #13131B;
}

/* hamburger bar */

.menu-toggle {
  position: fixed;
  top:0;
  right: 0;
  text-align: center;
  color: rgb(1, 51, 83);
  background: transparent;
  line-height: 50px;
  z-index: 999;
  margin-top: 10px;
  margin-right: 10px;
}

.hamburgerBar{
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  background-color: #707070;
}

a:not([href]) {
  text-decoration: none;
}

.landingPage > .mainContainer {
  padding: 0px 0px;
}

/* sidebar */

#sidebar-wrapper {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  background: #FFFFFF;
  opacity: 0.8;
}
.open{
  right: 250px;
}

.close{
  right: 0px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #999999;
  padding: 8px 8px 8px 20px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #666666;
  background: #AFBFBC;
  opacity: 0.8;
}

.sidebar-nav li a, .sidebar-nav li a:focus {
  text-decoration: none
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.1rem;
  height: 90px;
  line-height: 60px;
  padding: 10.5px 0px 1px 20px;
  margin-top: 30px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
  font-weight: bold;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #666666;
  background: 0 0
}

/* banner video */

#banner {
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #202026;
  z-index: -1;
}

#banner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* make title img center */

[alt="title"]{
  display: flex;
  position: absolute;
  z-index: 2;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

/* cyberbully title background */

#cyberbully{
  background: -webkit-linear-gradient(#202026,#13131B);
  background: -o-linear-gradient(#202026,#13131B);
  background: -moz-linear-gradient(#202026,#13131B);
  background: linear-gradient(#202026 0%,#13131B 60%);
}

/* title template */

.title-wrapper{
  display: flex;
  padding: 40px 0px 40px 0px;
  align-items: center;
}

.title{
  display: flex;
  justify-content: center;
  width: 40%;
}

.line{
  display: flex;
  border-top: #FFFFFF solid;
  width: 30%;
}

/* paragraph */

.center{
  width: 75%;
  margin: auto;
  padding: 30px;
}
.shallow{
  position: relative;
  background-color: rgb(39,47,68,0.3);
  border-radius: 2%;
}

.inner{
  padding: 40px;
}

.subtitle{
  color: #F0B34F;
}

/* option */

.option-center{
  margin: auto;
  padding: 30px;
}

#option{
  display: flex;
  justify-content: center;
}

#option button{
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

#option button:focus{
  outline: none;
}

/* respondent content */

.respondent-img{
  position: absolute;
}

.respondent-img > img{
  width: 100%;
}

.respondent{
  border-radius: 2%;
  border: #f0f0f0 solid 2px;
  margin-top: 200px;
}

.respondent-inner-line{
  padding: 40px;
  border-top: #f0f0f0 solid 1px;
  border-left: #f0f0f0 solid 1px;
}

/* story title */

.story-title:first-child > h3{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}

/* QRcord */

.qrcode-title{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.start{
  display: flex;
  justify-content: center;
  align-items: center;
}

.start img{
  width: 70%;
  padding-left: 34px;
  border-left: #f0f0f0 solid 1px;
}

.start p{
  display: flex;
  align-items: center;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  padding: 55px 10px 10px 10px;
  letter-spacing: 2em;
  font-size: 24px;
}

.start a{
  text-decoration: none;
}

.start p:hover{
  color: #FFEE52;
}

/* footer */

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

[alt="logo"]{
  width: 40%;
}

#share{
  display: flex;
  flex-direction: column;
}

.link{
  display: flex;
  flex-direction: row;
  padding: 20px 0px 0px 10px;
}

footer p{
  color: black;
}

.footer-center{
  display: flex;
  align-items: center;
}

/* Add space between footer's content */

.footer-center div:first-child{
  padding-right: 30px;
}

.footer-center div:last-child{
  padding-left: 30px;
}

#share a:last-child{
  padding-left: 30px;
}