/* body margin */

body{
  margin: 0px;
}

/* wrapper margin*/

.wrapper{
  margin: 60px;
}

.block-content{

}

/* font size */

h1{
  font-size: 60px;
  font-family: 'Noto Sans TC', sans-serif;
}
h2{
  font-size: 48px;
  color: #FFFFFF;
  font-family: 'Noto Sans TC', sans-serif;
}
h3{
  font-size: 24px;
  color: #FFFFFF;
  font-family: 'Noto Sans TC', sans-serif;
}
p{
  font-size: 18px;
  color: #FFFFFF;
  font-family: 'Noto Sans TC', sans-serif;
}

/* background */

.background{
  background-color: #003366;
}

/* hamburger bar */

.menu-toggle {
  position: fixed;
  top:0;
  right: 0;
  text-align: center;
  color: rgb(1, 51, 83);
  background: transparent;
  line-height: 50px;
  z-index: 999;
  margin-top: 10px;
  margin-right: 10px;
}

.hamburgerBar{
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  background-color: #707070;
}

a:not([href]) {
  text-decoration: none;
}

.landingPage > .mainContainer {
  padding: 0px 0px;
}

/* sidebar */

#sidebar-wrapper {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  background: #FFFFFF;
  opacity: 0.8;
}
.open{
  right: 250px;
}

.close{
  right: 0px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #707070;
  padding: 8px 8px 8px 20px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #8B5618;
  background: #EED38E;
  opacity: 0.8;
}

.sidebar-nav li a, .sidebar-nav li a:focus {
  text-decoration: none
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.1rem;
  height: 90px;
  line-height: 60px;
  padding: 10.5px 0px 1px 20px;
  margin-top: 30px;
}

.sidebar-nav > .sidebar-brand a {
  color: #707070;
  font-weight: bold;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #8B5618;
  background: 0 0
}

/* banner video */

#banner {
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #0099CC;
  z-index: -1;
}

#banner iframe {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* make title img center */

[alt="title"]{
  display: flex;
  position: absolute;
  z-index: 2;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

/* cyberbully title background */

#cyberbully{
  background: -webkit-linear-gradient(#0099CC,#003366);
  background: -o-linear-gradient(#0099CC,#003366);
  background: -moz-linear-gradient(#0099CC,#003366);
  background: linear-gradient(#0099CC 0%,#003366 60%);
}

/* title template */

.title-wrapper{
  display: flex;
  padding: 40px 0px 40px 0px;
  align-items: center;
}

.title{
  display: flex;
  justify-content: center;
  width: 40%;
}

.line{
  display: flex;
  border-top: #FFFFFF solid;
  width: 30%;
}

/* paragraph */

.center{
  width: 75%;
  margin: auto;
  padding: 30px;
}
.shallow{
  position: relative;
  background-color: rgb(0,51,102,0.3);
  border-radius: 2%;
}


/* footer */

footer p{
  color: black;
}

.footer-center{
  display: flex;
  align-items: center;
}

/* Add space between footer's content */

.footer-center div:first-child{
  padding-right: 30px;
}

.footer-center div:last-child{
  padding-left: 30px;
}

#share a:last-child{
  margin-left: 30px;
}